html {
    height: 100%;
  }
  
body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    min-height: 100%;
}
.conteiner{
    max-width: 1290px;
    margin:  auto;
}
header{
    padding-top: 48px;
    background-image: url(../img/main-screen__bgc.png);
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
margin-left: 280px;
    display: flex;
    justify-content: space-around;
}
.nav_item{
    margin-left: 55px;
    list-style-type: none;
    color: #fff;
    
}
.nav_item a{
   text-decoration: none;
   color: #fff;
   font-size: 16px;
line-height: 150%;
}
.header_button{
   
    margin-right: 80px;
    float: right;
    display: flex;
    text-decoration: none;
   color: #fff;
  align-items: center;
   width: 180px;
   height: 40px;
   background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
border-radius: 50px;
}
.header_button p{
    margin: auto;
}
.zag{
    margin-top: 191px;
    
    
}
h1{
    color: #fff;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 140%;
}
.time{
    margin-top: 57px;
    margin-right: 50%;
    
    padding-bottom: 210px;
    
}


.logo{
    float: left;
    margin-left: 80px;
}
.number_participants{
    padding-top: 20px;
    align-items: center;
    display: flex;
    
}
.take_course{
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    width: 169px;
height: 44px;
background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
border-radius: 50px;
text-decoration: none;
}
.take_course p{
    margin: auto;
}
.member{
    background: #121212;
    height: 130px;
    color: #fff;
    
}
.participant_statistics{
    margin-left: 80px;
}
.total_participants{display: flex;
    font-size: 16px;
    opacity: 0.4;
    line-height: 150%;}
.successful_participants{display: flex;
    font-size: 16px;
    opacity: 0.4;
    line-height: 150%;}
    .total,.succes_total{
        
        font-weight: bold;
font-size: 16px;
color: #fff;
    }
    main{
        background-image: url(../img/bgc.png);
      background-size: cover;
  
        padding-top: 200px;
    }
.img_pc{
    
    width: 526px;
height: 499px;
border: 30px solid #2B2CA4;
}
.pc_contein{
    position: absolute;
    margin-top: 120px;
}
.about_us{
    display: flex;
}
.description{
    margin-top: 40px;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.5;}
.about_us_description{
    margin-left: 140px;
    margin-top: 75px;
    color: #fff;
}
.heading{
    line-height: 140%;
    font-size: 40px;
    color: #fff;
}
.about_us_description p{
    opacity: 1;
}
.start{
    padding-top: 200px;
    display: flex;
    align-items: center;
}
.start h2{
    margin-left: 30px;
}
.readiness_indicator{
    padding-top: 80px;
    
        width: 100%;
        overflow: scroll;
      overflow-y: hidden;
      overflow-x: hidden;
}

.ready_sum p{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 140%;
}
.ready_sum{
    display: flex;
    justify-content: space-around;
}
.ready_img{
    display: flex;
    align-items: center;
}
.indicator_desk{
    display: flex;
    justify-content: space-around;
}
.descrip{
    text-align: left;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
max-width: 306px;
opacity: 0.5;
}
.qv_start{
    padding-top: 200px;
    padding-bottom: 250px;
}
.advantages{
    text-align: center;
}
.advantages_list{
    margin-left: 50px;
   align-items: center;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.advantages_item{
    max-width: 350px;
    flex-direction: column;
}
.advantages_disk{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;

}
.load{
    display: flex;
}
.loading{
    margin-right: 50px;
    
    
        -webkit-animation-name: loading;
        animation-name: loading;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        }
        @-webkit-keyframes loading {
        0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        }
        100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 1;
        animation-iteration-count: infinite;
        }
        }
        @keyframes loading {
        0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        }
        100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 1;
        animation-iteration-count: infinite;
        }
       
         
      
        
        
}
.partners{
    padding-top: 200px;
}
.partner_list{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.partner_item{
    margin-top: 50px;
    min-width: 25%;
    border-bottom: 1px solid #ffffff;
}
.training_program{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.training_program h2{
    margin-bottom: 0px;
}
.roadmap{display: flex;
margin-top: 70px;}
.week_desk{
   
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 160%;

}
.plan1{
    margin-right: 60px;
}
.plan2{
    margin-top: 100px;
    margin-left: 60px;
}
.week1{
   
    text-align: right;
}
.week2{
    text-align: left;  
}
.teachers{
    padding-top: 200px;
}
.teacherscard{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}
.card_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.teacher_name{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;
    margin-top: 25px;
    
}
.qwer{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
opacity: 0.8;
}
.teacher_bio_bat{
    display: flex;
    align-items: center;
    width: 143px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}
.teacher_bio_bat p{
    text-decoration: none;
    color: #fff;
font-size: 16px;
margin-left: 20%;
}
footer{
    background-image: url(./img/bgc.png);
    display: flex;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
footer h3{
    margin-bottom: 0%;
}
.ready{
  
    width: 160px;
height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
border-radius: 50px;
color: #fff;

}
.ready_imp{
    background: #FFFFFF;
opacity: 0.25;
border-radius: 50px 0px 0px 50px;
width: 353px;
height: 44px;
}
@media (max-width: 1199px){ 
    .container{
        width: 960px;
    }
    .readiness_indicator{
    width: 100%;
    overflow: scroll;


}



    .container{
        width: 720px;
    }
    .header{
display: none;    }

    .about_us{
        display: flex;
        flex-direction: column;

    }
    .about_us_description{
        margin-left: 50px;
    }
  
      }
    
    .ready_sum{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .indicator_desk{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

